// importo il file Variables.scss 

@import 'src/assets/style/Variables';

// Google Font Roboto

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

// reset 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// common

body {
    font-family: 'PT Sans Narrow', sans-serif;
}

.container {
    width: $containerSize;
    margin: auto;
    padding: 20px;
}
